.table-node {
    overflow: hidden;
}

.table-node .mud-simple-table {
    table-layout: auto;
}

.table-node th {
    white-space: nowrap;
    padding: 2px 6px;
}

.table-node td {
    padding: 2px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}
